main {
  max-width: 900px;
}

.dashboard-question-button {
  &.answered {
    background-color: lightblue;
  }
}

label,
.dashboard-question-button {
  &.correct {
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.2);
  }
  &.wrong {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
  }
}
